
<div class="container-fluid">
<div class="row">


  <div class="page_title">
    <%= render 'shared/page_title', title: "All Chefs" %>

  </div>



      &nbsp<%= will_paginate %>


  </div>






<div class="row">



<% @chefs.each do |chef| %>
  <div class="col-md-6 col-xs-12">


  <div class="panel">
    <div class="panel-heading">
  <h2 class="panel-title"><%= link_to "Chef " + chef.chefname.titleize, chef_path(chef) %></h2>
</div>
    <div class="panel-body">



      <div class="col-md-4 col-sm-4 col-xs-4 pull-left">
        <section class="chef_info">
          <%= link_to gravatar_for(chef, size: 100, class: "img-responsive"), chef_path(chef) %>


            <div>

            </div>


        </section>

      </div>
    <div class="col-md-6 col-sm-7 col-xs-7 col-xs-offset-1 col-sm-offset-1">
      <br>
      <p>
        <%= chef.email %>

      </p>

      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-8 col-xs-6 pull_left">
    

        </div>
        <div class="col-md-6 col-xs-6 pull-right">
          <div class="col-xs-12">
            <span><small>Updated <%= time_ago_in_words(chef.updated_at) %> ago.</small></span>
          </div>
          <div class="col-xs-12">
            <span><small>Added <%= time_ago_in_words(chef.created_at) %> ago.</small></span>
          </div>





        </div>

      </div>


      </div>

    </div>
  </div>

<% end %>
</div>
<%= will_paginate %>
</div>
