<%= render 'shared/errors', obj: @recipe %>

<div class="container-fluid">

<br>
<div class="col-md-8 col-md-offset-2">

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <%= @recipe.new_record? ? 'Add a new recipe.' : 'Edit this recipe.' %>
</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= form_for(@recipe, html: { multipart: true}) do |f| %>
      <ul class="list-group">
        <li class="list-group-item">
        <%= f.label :name %>
        <%= f.text_field :name %>
        </li>
        <hr>
        <li class="list-group-item">
        <%= f.label :summary %>
        <%= f.text_field :summary %>
        </li>
        <hr>
        <li class="list-group-item">
        <%= f.label :description %>
        <%= f.text_area :description %>
        </li>
        <hr>
        <li class="list-group-item">
        <%= f.label :style %>
        <br>
        <%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
        </li>
        <hr>
        <li class="list-group-item">
        <%= f.label :ingredient %>
        <br>
        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
            <% cbi.label(class: "checkbox-inline") {cbi.check_box(class: "checkbox") + cbi.text} %>
        <% end %>
        </li>
        <hr>
        <li class="list-group-item">
          <h5><span><strong>Upload Picture</strong></span></h5>
        <span class= "picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
        </li>
        <hr>
        <li class="list-group-item">
        <%= f.submit(@recipe.new_record? ? 'Create Recipe' : 'Edit Recipe', class: "btn btn-success") %>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>

<script type=" text/javascript">
$('#recipe_picture').bind('change', function() {
  size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB. Please choose a smaller file.');
  }

});
</script>
