
<div class="container-fluid">
  <div class="page_title">
    <%= render 'shared/page_title', title: "All Recipes" %>
  </div>

  <hr color=#d1d1d1>
</div>


<% @recipes.each do |recipe| %>
  <div class="col-md-6 col-xs-12">


  <div class="panel">
    <div class="panel-heading">
  <h2 class="panel-title">    <%= link_to recipe.name.titleize, recipe_path(recipe) %></h2>
</div>
    <div class="panel-body">



      <div class="col-md-4 col-sm-4 col-xs-4 pull-left">
        <section class="chef_info">

            <%= gravatar_for recipe.chef, size: 100 %>
            <div>
                <span><small>Chef <%= recipe.chef.chefname.titleize %> </small></span>
            </div>


        </section>

      </div>
    <div class="col-md-6 col-sm-7 col-xs-7 col-xs-offset-1 col-sm-offset-1">
<%= image_tag(recipe.picture.url, size: "50x50", class: "gravatar") if recipe.picture? %>
      <br>
      <p>
        <%= recipe.summary %>

      </p>

      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-8 col-xs-6 pull_left">
          &nbsp&nbsp&nbsp&nbsp
          <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp<%= recipe.thumbs_up_total %>
          <% end %>
          &nbsp&nbsp&nbsp&nbsp
          <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp<%= recipe.thumbs_down_total %>
          <% end %>

        </div>
        <div class="col-md-4 col-xs-6 pull-right center">
          <span><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span>


        </div>

      </div>


      </div>

    </div>
  </div>

<% end %>
</div>
