<%= render 'shared/page_title', title: @recipe.name.titleize  %>

<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">
    <%= image_tag(@recipe.picture.url, size: "400x300", class: "gravatar") if @recipe.picture? %>

    <h3>
      <%= @recipe.summary.capitalize %>
    </h3>
    <br>
    <div class="show_recipe">

    </div>
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">

            Steps:

        </div>
      </div>
      <div class="panel-body">
        <p>
          <%= simple_format(@recipe.description.capitalize) %>
        </p>

      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-4 pull_left">
            <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
              Like <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @recipe.thumbs_up_total %>
            <% end %>
            &nbsp&nbsp&nbsp&nbsp
            <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
              Dislike <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @recipe.thumbs_down_total %>
            <% end %>

          </div>
          <div class="col-md-8 pull-right">
            <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn-sm btn-success pull-right" %>

          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 pull-right">

    <%= gravatar_for @recipe.chef, size: 190 %>
    <p>
      <h5>
        <span>By Chef <%= @recipe.chef.chefname.titleize %> <%= time_ago_in_words(@recipe.created_at) %> ago</span>
      </h5>
    </p>
  </div>

</div>

<h5>
  <%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %>
</h5>

<div class="image">
  <% image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>

</div>
