<div class="container-fluid">
<div class="row">


  <div class="page_title">
    <%= render 'shared/page_title', title: @style.name.titleize + " Recipes"  %>

  </div>




      &nbsp<%= will_paginate @recipes %>


  </div>






<div class="row">



<% @style.recipes.each do |recipe| %>
  <div class="col-md-6 col-xs-12">


  <div class="panel">
    <div class="panel-heading">
  <h2 class="panel-title">    <%= link_to recipe.name.titleize, recipe_path(recipe) %></h2>
</div>
    <div class="panel-body">



      <div class="col-md-4 col-sm-4 col-xs-4 pull-left">
        <section class="chef_info">
          <%= link_to gravatar_for(recipe.chef, size: 100, class: "img-responsive"), chef_path(recipe.chef) %>


            <div>
                <span><small>Chef <%= recipe.chef.chefname.titleize %> </small></span>
            </div>


        </section>

      </div>
    <div class="col-md-6 col-sm-7 col-xs-7 col-xs-offset-1 col-sm-offset-1">
<%= image_tag(recipe.picture.url, size: "50x50", class: "gravatar") if recipe.picture? %>
      <br>
      <p>
        <%= recipe.summary %>
      </p>

      <p>
        Styles: <%= render recipe.styles %>
      </p>

      <p>
        Ingredients: <%= render recipe.ingredients %>
      </p>

      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-6 col-xs-4 pull-left">

          <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp<%= recipe.thumbs_up_total %>
          <% end %>
          &nbsp&nbsp&nbsp&nbsp
          <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp<%= recipe.thumbs_down_total %>
          <% end %>

        </div>

        <div class="col-md-6 col-xs-8 pull-right">
          <div class="col-xs-12">
            <span><small>Updated <%= time_ago_in_words(recipe.updated_at) %> ago.</small></span>
          </div>
          <div class="col-xs-12">
            <span><small>Added <%= time_ago_in_words(recipe.created_at) %> ago.</small></span>
          </div>





        </div>
      </div>


      </div>

    </div>
  </div>

<% end %>
</div>
<%= will_paginate @recipes %>
</div>
